<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DELETE BOOK DETAILS</title>
</head>
<body>
<form action="/delete_book" method="POST">
    <center>
    <h2>DELETE</h2>
    <hr>
        </center>
    <center>
    <label for="book_id">BookID:</label>
    <input type="text" id="book_id" name="book_id" placeholder="Enter book id" required><br><br>

    <label for="book_name">Book Name:</label>
    <input type="text" id="book_name" name="book_name" placeholder="Enter book name" required><br><br>

    <label for="author">Author Name:</label>
    <input type="text" id="author" name="author" placeholder="Enter author name" required><br><br>

    <input type="submit" value="Delete Book">
        </center>
    </form>
<center>
<a href="/update_book">Update</a><br>
    </center>
</body>
</html>