<!DOCTYPE html>
<html lang="en">
<head>
    <title>SIGNUP</title>
</head>
<body>
<form action="/user_signup" method="POST">
            <h2>USER SIGNUP</h2>
            <hr/>
            <label for="txtUsername">Username</label>
            <input type="text" id="txtUsername" name="username" placeholder="Create User name" required><br><br>

            <label for="txtPassword">Password</label>
            <input type="password" id="txtPassword" name="password" placeholder="Create password" required><br><br>

            <label for="txtEmail">Email</label>
            <input type="email" id="txtEmail" name="email" placeholder="Enter email" required><br><br>

            <input type="submit" value="Sign up">
</form>
<a href="/user_login"><br>You have Account?<br>Login</a>
</body>
</html>