<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE BOOK DETAILS</title>
</head>
<body>
<form action="/update_book" method = "POST">
    <center>
          <h1>UPDATE</h1>
    </center>
      <hr><br><br>
            <center>
            <label for="book_id">BOOK ID:</label>
            <input type="text" id="book_id" name="book_id" placeholder="Enter book id" required><br><br>

            <label for="book_name">NEW BOOK NAME:</label>
            <input type="text" id="book_name" name="book_name" placeholder="Enter book name" required><br><br>
            <input type="submit" value="Update Book details">
            </center>
           </form>
</body>
</html>